<h2>Show Courier</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @courier.name %>
  </li>

  <li>
    <strong>Address:</strong>
    <%= @courier.address %>
  </li>

  <li>
    <strong>Pharmacies serviced:</strong>
    <%= @courier.pharmacies_serviced %>
  </li>

</ul>

<span><%= link "Edit", to: courier_path(@conn, :edit, @courier) %></span>
<span><%= link "Back", to: courier_path(@conn, :index) %></span>
